@model MyBlogApp.Infraestructure.Models.PostListModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Create", "Create", new { userId = Model.AutorId })

</p>
<table class="table">
    <thead>
        <tr>

            <th>
                Title
            </th>
            <th>
                Content
            </th>
            <th>
                Autor
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AutorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostStatusName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |
                    <form asp-action="Delete" asp-route="">
                        <input asp-for="AutorId" type="hidden" />
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.PostId })*@
                        <button type="submit" value="Delete">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
