@model MyBlogApp.Infraestructure.Models.PostListModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Create", "Create", new { userId = Model.AutorId })

</p>
<table class="table">
    <thead>
        <tr>

            <th>
                Title
            </th>
            <th>
                Content
            </th>
            <th>
                Autor
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AutorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostStatusName)
                </td>
                <td>
                    @*@if (Model.CanDeletePost)
                    {*@
                        @Html.ActionLink("Edit", "Edit", new { id = item.PostId, roleId = item.RoleId })
                    @*  *@}
                </td>
            </tr>
        }
    </tbody>
</table>
